<%- include('includes/header.ejs') %>
</head>

<body>
    <%- include('includes/nav.ejs') %>
    <div class="jumbotron">
        <div>
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#">&laquo;</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">&raquo;</a>
                </li>
            </ul>
        </div>
        <div class="my-2">
            <div class="card text-white bg-primary mb-3" style="max-width: 120rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Primary card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sit, odit tempore deserunt reiciendis vel impedit dolor at facere praesentium earum minima aliquid laborum ex id? Fuga nemo sint quas?
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="my-2">
            <div class="card text-white bg-primary mb-3" style="max-width: 120rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Primary card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>

    <%- include('includes/footer.ejs') %>