<%- include("includes/header.ejs") %>
</head>


<body>
    <div class="py-5">
    <div class="container">
        <div class="py-4">

            <h1 class="display-1">The</h1>
            <h1 class="display-1">Angry</h1>
            <h1 class="display-1"> Programmer</h1>
        </div>
                <div class="text-right">
                    <a href="#" class="">
                        <h1>
                            Home

                        </h1>
                    </a>
                    <a href="#" class="">
                        <h1>
                            Blog

                        </h1>
                    </a>
                    <a href="#" class="">
                        <h1>
                            Shop

                        </h1>
                    </a>
                    <a href="#" class="">
                        <h1>
                            
                            Tutorial
                        </h1>
                    </a>
                    <a href="#" class="">
                        <h1>
                            About

                        </h1>
                    </a>
                </div>
                <div class="d-flex justify-content-around py-5">
                <blockquote class="blockquote">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                        ante.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>
                <blockquote class="blockquote text-center">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                        ante.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>
                <blockquote class="blockquote text-right">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                        ante.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>
                </div>
                </div>
    </div>

    <%- include("includes/footer.ejs") %>